################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

*.suo
/.vs
/helloworld/.vs/helloworld/v15/Server/sqlite3
/helloworld/helloworld/obj
